<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Value Learn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="/js/script.js"></script>    
    <link rel="stylesheet" href="/css/style.css">
</head>
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">VLGE STUDENT PORTAL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Add links to other pages -->
                <li class="nav-item">
                    <a class="nav-link"href="/attendanceManagement?email=<%= student.email %>&DateofBirth=<%= student.DateofBirth %>">
                        View Attendance
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/courseOverview?email=<%= student.email %>&DateofBirth=<%= student.DateofBirth %>">
                        View Course Overview
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/courseStatus?email=<%= student.email %>&DateofBirth=<%= student.DateofBirth %>">
                        View Course Status
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exam?email=<%= student.email %>&DateofBirth=<%= student.DateofBirth %>">
                       View Exam Details
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/progress?email=<%= student.email %>&DateofBirth=<%= student.DateofBirth %>">
                        View Progress
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fees?lastPaidDate=<%= student.lastPaidDate %>&email=<%= student.email %>">Fees</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container1">
    <div class="row text-center">
        <!-- Row 1 -->
        <div class="col-md-3 d-flex justify-content-center align-items-center flex-column">
            <div class="nav-section">
                <a href="/attendanceManagement?email=<%= student.email %>&DateofBirth=<%= student.DateofBirth %>">
                    <i class="fas fa-user-graduate fa-3x mb-2"></i>
                    <h5>View Your Attendance</h5>
                </a>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center flex-column">
            <div class="nav-section">
                <a href="/courseOverview?email=<%= student.email %>&DateofBirth=<%= student.DateofBirth %>">
                    <i class="fas fa-chalkboard-teacher fa-3x mb-2"></i>
                    <h5>View Your Course Overview</h5>
                </a>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center flex-column">
            <div class="nav-section">
                <a href="/courseStatus?email=<%= student.email %>&DateofBirth=<%= student.DateofBirth %>">
                    <i class="fas fa-book-open fa-3x mb-2"></i>
                    <h5>View Your Course Status</h5>
                </a>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center flex-column">
            <div class="nav-section">
                <a href="/progress?email=<%= student.email %>&DateofBirth=<%= student.DateofBirth %>">
                    <i class="fas fa-book-open fa-3x mb-2"></i>
                    <h5>View Your Progress</h5>
                </a>
            </div>
        </div>
    </div>

    <!-- Row 4 -->
    <div class="row text-center mt-4">
        <div class="col-md-3 d-flex justify-content-center align-items-center flex-column">
            <div class="nav-section">
                <a href="/fees?lastPaidDate=<%= student.lastPaidDate %>&email=<%= student.email %>">
                    <i class="fas fa-shield-alt fa-3x mb-2"></i>
                    <h5>View Fees Due</h5>
                </a>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center flex-column">
            <div class="nav-section">
                <a href="https://valuelearnpc.netlify.app/communication">
                    <i class="fas fa-search fa-3x mb-2"></i>
                    <h5>Communication And Support</h5>
                </a>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center flex-column">
            <div class="nav-section">
                <a href="https://valuelearnpc.netlify.app/">
                    <i class="fas fa-file-invoice fa-3x mb-2"></i>
                    <h5>Payment</h5>
                </a>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center flex-column">
            <div class="nav-section">
                <a href="/progress?email=<%= student.email %>&DateofBirth=<%= student.DateofBirth %>">
                    <i class="fas fa-plus fa-3x mb-2"></i>
                    <h5>View Exam Details</h5>
                </a>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<body>
   
    <div class="container mt-5">
        <h2 class="text-center">STUDENT PROFILE</h2>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><%= student.name %></h4>
                <p><strong>Date of Birth:</strong> <%= student.DateofBirth %></p>
                <p><strong>Gender:</strong> <%= student.gender %></p>
                <p><strong>Nation:</strong> <%= student.nation %></p>
                <p><strong>Father's Name:</strong> <%= student.fatherName %></p>
                <p><strong>Mother's Name:</strong> <%= student.motherName %></p>
                <p><strong>Address:</strong> <%= student.address %></p>
                <p><strong>City:</strong> <%= student.city %></p>
                <p><strong>State:</strong> <%= student.state %></p>
                <p><strong>Country:</strong> <%= student.country %></p>
                <p><strong>Aadhar:</strong> <%= student.aadhar %></p>
                <p><strong>Email:</strong> <%= student.email %></p>
                <p><strong>Phone:</strong> <%= student.phone %></p>
                <p><strong>PIN Code:</strong> <%= student.pin %></p>
                <p><strong>Education:</strong> <%= student.education %></p>
                <p><strong>Previous Institution:</strong> <%= student.previous %></p>
                <p><strong>Skills:</strong> <%= student.skills %></p>
                <p><strong>Course:</strong> <%= student.course %></p>
                <p><strong>Mode:</strong> <%= student.mode %></p>
                <p><strong>Time:</strong> <%= student.time %></p>
                <p><strong>Duration:</strong> <%= student.duration %></p>
                <p><strong>Fees:</strong> <%= student.fees %></p>
                <p><strong>Offer:</strong> <%= student.offer %></p>

            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            <div class="container">
                <div class="row">
        
            
            
</body>
</html>
